.show-card{
    /* text-align: center; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 3px solid gray;
    border-radius: 9px;
    background-color: lavender;
    margin: 0 0 9px 9px;
    padding: 5px;
    height: 340px;

}
.card-upper-segment{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image img{
    /* border-radius: 50%; */
    width: 125px;
    /* height: 250px; */
}
.card-details{
    margin-left: 11px;
}
.card-lower-segment{
    text-align: center;
}
.card-lower-segment button{
    background-color: goldenrod;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    transition: .3s;
}
.card-lower-segment button:hover{
    background-color: rgb(255, 191, 28);
}
.bottom-icons{
    font-size: 25px;
}
.facebook{
    color: rgba(64,100,172,255);
    transition: .3s;
    margin-right: 5px;

}
.facebook:hover{
    font-size: 30px;
}
.linkedin{
    color: rgba(14,114,163,255);
    transition: .3s;
    margin-right: 5px;
}
.linkedin:hover{
    font-size: 30px;
}
.twitter{
    color: rgba(30,155,235,255);
    transition: .3s;
    margin-right: 5px;
}
.twitter:hover{
    font-size: 30px;
}
.youtube{
    color: rgba(247,0,0,255);
    transition: .3s;
}
.youtube:hover{
    font-size: 30px;
}