.card-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.my-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    /* width: 1050px; */
}
/* .summary-container{
    position: fixed;
    margin-left: auto;
    background-color: gray;
    padding: 25px;
    border-radius: 5px;
} */